{% load static %}
{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEEI Solutions</title>
    <link rel="stylesheet" href="{% static "css/{% static 'css/styles.css' %}" %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <h3>Misión</h3>
        <p>Impulsar y transformar negocios e instituciones con soluciones tecnológicas que encienden la inspiración.</p>
        
        <h3>Visión</h3>
        <p>Construir un puente hacia un futuro digital lleno de oportunidades, donde la innovación y la pasión unan realidades.</p>

        <div class="tarjetas">
            <div class="tarjeta">
                <img src="{% static "css/{% static 'images/dev.png' %}" %}" alt="Desarrollador">
                <strong style="font-family: 'Poppins', sans-serif;">Arzaluz Campos Felix Elias</strong>
                <p>CEO y director de proyectos</p>
            </div>
            <div class="tarjeta">
                <img src="{% static "css/{% static 'images/dev.png' %}" %}" alt="Desarrollador">
                <strong style="font-family: 'Poppins', sans-serif;">Domínguez Cocon José Eduardo</strong>
                <p>Desarrollador Fullstack</p>
            </div>
            <div class="tarjeta">
                <img src="{% static "css/{% static 'images/dev.png' %}" %}" alt="Desarrollador">
                <strong style="font-family: 'Poppins', sans-serif;">Nieto Taboada Luis Antonio</strong>
                <p>Desarrollador Backend</p>
            </div>
            <div class="tarjeta">
                <img src="{% static "css/{% static 'images/dev.png' %}" %}" alt="Desarrollador">
                <strong style="font-family: 'Poppins', sans-serif;">Ramírez Martínez Ismael</strong>
                <p>Desarrolador frontend</p>
            </div>
        </div>
    </main>
</body>
</html>