{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urbanatura CDMX - Inicio</title>
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    
    <main>
        <div class="objetivo">
            <h2>Objetivo</h2>
            <p>Crear un inventario digital del arbolado en la Ciudad de México, permitiendo a cualquiera registrar, monitorear y analizar el estado de los árboles urbanos.</p>
        </div>
        <div class="mapa">
            <h2>Mapa</h2>
            <p>Este es un espacio reservado para el mapa interactivo que mostrará la ubicación de los árboles registrados en la base de datos.</p>
        </div>
        <div class="botones">
            <a href="{% url 'arbol:agregar_arbol' %}" class="btn">Agregar Árbol</a>
            <a href="{% url 'arbol:lista_arboles' %}" class="btn">Ver Lista Completa</a>
        </div>
    </main>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>